.storage-header{
    text-align: center;
}

.storage-items-amount{
    display: block;
    text-align: center;
}

.items-list{
    padding: 5px;
    font-size: 1.4em;
}

.categories{
    margin-left: 40px;
    font-weight: 300;
}

.names{
    margin: 5px;
    font-weight: 300;
}

.prices{
    margin-left: 60px;
    font-weight: 500;
}

.hidden{
    visibility: hidden;
}

.visible{
    visibility: visible;
}

.selected-cat-hidden > li {
    display: none;
}

.selected-cat-shown > li {
    display: block;
}

.buttons-list{
    display: flex;
    justify-content:center;
}

.actionBUtton{
    height: 40px;
    margin: 10px;
    width: 150px;
}

.active-button{
    background-color: greenyellow;
}

.cat{
    text-align: center;
    font-size: 1.2em;
}

.cats-header{
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
    position: relative;
    display: block;
    width: fit-content;
}

.apply-button{
    margin: 10px;
    border-radius: 4px;
    font-size: 1.2em;
}

.arrow-header{
    display: block;
    height: 20px;
    width: 20px;
    transition: 0.3s;
    position: absolute;
    right: -40px;
    bottom: 5px;
}

.arrow-header-rotate{
    transform: rotate(180deg);
}

.category-header{
    cursor: pointer;
    position: relative;
    display: block;
    width: fit-content;
}

.list{
    
}

.add-item-but{
    margin: 10px;
    padding: 10px;
    text-decoration: underline;
}

.modal-window-adding-item{
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0; margin: auto;
    border-top: 30px cornflowerblue solid;
    width: 400px;
    height: fit-content;
    background-color: whitesmoke;
}

.modal-back{
    position: absolute;
    width: 95%;
    height: 95%; 
    background-color: rgba(0, 0, 0, 0.3);
}

.input-panel{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.input-field-set{
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.input-field-title{
    display: block;
    flex-grow: 50%;
}

.modal-input{
    font-size: 1.1em;
    width: 200px;
    min-width: 0px;
    display: block;
}

.modal-buttons-set{
    display: flex;
    
}

.modal-button{
    font-size: 1.1em;
    padding: 10px;
    margin: 10px;
}

